spring:
  config:
    activate:
      on-profile: local

  datasource:
#    url: jdbc:postgresql://localhost:5432/bookmyshow
#    username: postgres
#    password: PostgreSQL@4722
#    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  sql:
    init:
        mode: always

logging:
  level:
    root: DEBUG

